/* Navbar.css */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1%; /* Ajusta el padding según sea necesario */
  width: 100%;
  height: 50px;
  background-color: transparent;
  position: fixed;
  top: 2%;
  left: 0;
  z-index: 999;
}

.navbar__logo {
  display: flex;
  align-items: center;
  font-size: 30px;
  color: #fff;
  font-family: 'Work Sans', sans-serif; 
  font-weight: 500;
}

.navbar__menu {
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
  flex-grow: 1;
}

.navbar__menu-item {
  margin: 0 10px;
  cursor: pointer;
}

.navbar__menu-item a {
  color: #fff;
  text-decoration: none;
  font-family: 'IBM Plex Sans', sans-serif;
}

.navbar__user {
  display: flex;
  align-items: center;
  color: #fff;
}

.navbar__user span {
  margin-left: 5px;
}


.navbar__points {
  display: flex;
  align-items: center;
  margin-left: 10px;
  color: #fff;
}

.navbar__points span {
  margin-left: 3px;
}