/* Navbar.css */
.navbar {
 /* Frame 7 */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 237.56px;
    z-index: 999;

    position: absolute;
    width: 1204.42px;
    height: 48.12px;
    left: 86.88px;
    top: 30px;


}

.navbar__logo {
  display: flex;
  align-items: center;
  font-size: 30px; /* Tamaño de fuente */
  /* cambiar color de la fuente */
  color: #fff;
  font-family: 'Work Sans', sans-serif; 
  /*poner la fuente con más negrita */
  font-weight: 500;
  margin-left: 2%; /* Alinea el logo a la derecha */
}



.navbar__menu {
  display: flex;
  justify-content: flex-start;
  list-style-type: none; /* Elimina los estilos de lista predeterminados */
  font-family: 'IBM Plex Sans', sans-serif; /* Cambiar la fuente */
  color: #fff;

      /* Menu */

    width: 406.1px;
    height: 23.1px;


    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;

}

.navbar__menu-item {
  margin-right: 20px;
  cursor: pointer;
}

.navbar__menu-item:last-child {
  margin-right: 0;
}






