.menu-bar {
    margin-right: 20px;
    height: calc(100vh - 64px); /* Ajuste para el tamaño del header */
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-size: 1rem;
    position: relative;
}

.menu-container {
    width: 200px;
    
}


