html, body, #root, .min-h-screen {
    height: 100%;
    margin: 0;
    padding: 0;
    /* mantener todo estático*/
    
}

.layout-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.row {
    display: flex;
    flex: 1;
}

.content-container {
    flex: 1;
    overflow-y: auto; /* Permitir el desplazamiento solo en el contenido */
    padding: 20px;
    background-color: #f0f2f5;
}

.content-inner {
    padding: 20px;
    background-color: #fff;
    border-radius: 4px;
    margin: 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.sidebar {
    color: #fff;
}

.logo {
    font-size: 2rem;
    color: white;
    font-weight: bold;
    margin-left: 2rem;
    font-family: 'Work Sans', sans-serif;
}

.styled-table {
    width: 100%;
    border-collapse: collapse;
    margin: 1rem 0;
    font-size: 1rem;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 0.5rem;
    border: 1px solid #ddd;
}

.styled-table th {
    background-color: #f4f4f4;
    font-weight: bold;
}

.styled-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.img-container {
    display: flex;
    justify-content: center;
    margin: 1rem 0;
}


