.sidebar{
    color: #fff
    
}

.row {
    display: flex;
    width: 100%; /* Asegura que ocupe todo el ancho disponible */
    box-sizing: border-box; /* Incluye padding y borde en el ancho total */
}


.content-container {
    flex: 1;
    padding: 20px; /* Añade un relleno interno */
    background-color: #f0f2f5; /* Color de fondo para el contenedor */
}

.content {
    padding: 20px; /* Añade un relleno interno */
    background-color: #fff; /* Color de fondo para el contenido */
    border-radius: 4px; /* Esquinas redondeadas */
    margin: 20px; /* Añade un margen externo */
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); /* Añade una sombra para resaltar el contenido */
}

