.sidebar{
    color: #fff
    
}

.row {
    display: flex;
    width: 100%; /* Asegura que ocupe todo el ancho disponible */
    box-sizing: border-box; /* Incluye padding y borde en el ancho total */
}


.content-container {
    flex: 1;
    padding: 20px; /* Añade un relleno interno */
    background-color: #f0f2f5; /* Color de fondo para el contenedor */
}

.content {
    padding: 20px; /* Añade un relleno interno */
    background-color: #fff; /* Color de fondo para el contenido */
    border-radius: 4px; /* Esquinas redondeadas */
    margin: 20px; /* Añade un margen externo */
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); /* Añade una sombra para resaltar el contenido */
}

/* custom.css */
.logo {
    @apply text-2xl text-white font-bold ml-2;
    font-family: 'Work Sans', sans-serif;
  }

  .styled-table {
    width: 100%;
    border-collapse: collapse;
    margin: 1rem 0;
    font-size: 1rem;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 0.5rem;
    border: 1px solid #ddd;
}

.styled-table th {
    background-color: #f4f4f4;
    font-weight: bold;
}

.styled-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.img-container {
    display: flex;
    justify-content: center;
    margin: 1rem 0; /* Ajusta el margen según sea necesario */
}
  

